<h1><%= @orders.model_name.human %></h1>
<div class="row">
  <div class="col-lg-6">
    <%= form_for :order, url: orders_path, html: { multipart: true } do |f| %>
      <div class="input-group">
        <%= f.file_field :import_file,  accept: 'text/plain', class: 'form-control' %>
        <span class="input-group-btn">
          <%= f.submit "#{translate 'actions.import_file'}", class: 'btn btn-default' %>
        </span>
      </div>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th><%= translate 'orders.person' %></th>
          <th><%= translate 'orders.description' %></th>
          <th><%= translate 'orders.unity_price' %></th>
          <th><%= translate 'orders.quantity' %></th>
          <th><%= translate 'orders.address' %></th>
          <th><%= translate 'orders.supplier' %></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.person.name %></td>
            <td><%= order.description %></td>
            <td><%= number_to_currency(order.unity_price, locale: 'pt-BR') %></td>
            <td><%= order.quantity %></td>
            <td><%= order.supplier.address %></td>
            <td><%= order.supplier.name %></td>
            <td><%= link_to "#{translate 'actions.destroy'}", order, method: :delete, data: { confirm: "#{translate 'confirm'}" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
