<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @order.person %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>

<p>
  <strong>Unity price:</strong>
  <%= @order.unity_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @order.supplier %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
